.parallax-banner {
    margin-top: 0;
    height: 60vh;
    background: url("https://t4.ftcdn.net/jpg/05/71/83/47/360_F_571834789_ujYbUnH190iUokdDhZq7GXeTBRgqYVwa.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
  }
  * {
    box-sizing: border-box;
  }
  
  .parallax-banner h2 {
    font-size: 48px;
    color:white;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .parallax-banner button {
    border: 0;
    background: #ffffff;
    color: #222222;
    padding: 10px 24px;
    border-radius: 30px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
  }
  
  .parallax-container {
    padding: 2% 10%;
    color:black;
  }
  
  .parallax-banner h2 {
    margin-top: 0;
    margin-bottom: 40px;
    padding-top: 60px;
  }
  