.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.logo-link {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.logo-link img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: black;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}




.ultraLeft {
    display: flex;
    align-items: center;
}

.login-signup-button {
    padding: 10px 20px;
    background-color: rgb(47, 150, 105);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: auto;
}

.login-signup-button a {
    text-decoration: none;
    color: aliceblue;
}

@media (max-width: 900px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .nav-links .open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: white;
        width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .nav-links li {
        margin: 0;
        padding: 10px;
        text-align: center;
    }

    .nav-links li a {
        display: block;
        padding: 10px;
    }

    .navigation {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1vh 2vw;
    }

    .ultraLeft {
        margin-left: auto;
    }

    .login-signup-button {
        margin-right: 0;
    }
}
