/* .team-text-blk {
  line-height: 25px;
  margin: 0;
} */

.team-responsive-container-block {
  /* min-height: 75px; */
  height: fit-content;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  color:black;
  justify-content: flex-start;
}

.team-inner-container {
  max-width: 1320px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 80px auto 100px auto;
}

.team-swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.team-section-head-text {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  margin: 0 0 18px 0;
}

.team-section-subhead-text {
  color: black;
  font-size: 20px;
  line-height: 27px;
  max-width: 670px;
  margin: 0 0 80px 0;
}

.team-icon-buttons {
  display: flex;
  margin: auto;
  margin-top: 1.5vh;
}

.team-card {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 25px 40px 25px;
  /* box-shadow: 10px 5px 20px 10px rgb(221, 221, 221); */
  border-radius: 6px;
  background-color: rgb(119, 254, 236);
  color:white;
  cursor: pointer;
}

.team-img-wrapper {
  width: 175px;
  height: 175px;
  clip-path: circle(50% at 50% 50%);
}

.team-img-wrapper img{
  width: 100%; /* Make the image width fit the container */
  height: auto; /* Maintain the aspect ratio of the image */
  object-fit: contain; /* Ensure the entire image is visible within the container */
  object-position: center;
}

.team-name {
  font-size: 20px;
  font-weight: 700;
  margin: 28px 0 5px 0;
  line-height: 27px;
}

.team-position {
  line-height: 26px;
  color: white;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.team-testimonial {
  color: rgb(192, 255, 229);
  font-size: 18px;
  line-height: 27px;
}

.team-outer-container {
  padding: 0 50px;
}

.team-c-color {
  background-color: rgb(1, 68, 70);
}

.team-container-block {
  min-height: 75px;
  /* height: fit-content; */
  width: 100%;
  padding: 10px;
  display: block;
}

.team-swiper {
  max-width: 100%;
  width: 100%;
  /* height: fit-content; */
}

.team-swiper-slide {
  display: flex;
  padding:2vh;
  justify-content: flex-start;
  /* height: auto; */
  margin: auto;
  background-color: rgb(0, 0, 0);
}

/* .team-swiper-pagination {
  position: relative;
  top: 0;
  margin-top: 36px;
}

.team-swiper-pagination .swiper-pagination-bullet {
  margin: 0 4px;
  height: 12px;
  width: 12px;
  background-color: rgb(0, 166, 127);
} */

.team-swiper-wrapper {
  position: relative;
  top: 0;
}

/* @media (max-width: 1024px) {
  .team-swiper-slide {
      justify-content: center;
  }
}

@media (max-width: 500px) {
  .team-outer-container {
      padding: 0 20px;
  }
} */
 @media (max-width : 1220px){
  .team-swiper-wrapper{
    flex-direction: column;
  }
 }
